body {
	background-color: #1d1d1d;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

header img {
	float: right;
	margin: 20px 16px 26px 0;
}

.shell {
	margin: 0 auto;
    position: relative;
    text-align: left;
    width: 963px; /*this fixed pic spacing*/
}

.wrapper {
	clear: both;
    margin-bottom: 20px;
    min-height: 312px;
}

.slider1, .slider2, .slider3, .slider4 {
	display: inline-block;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

ul {
	list-style: none;
	margin-left: -1.2em;
	margin-bottom: -10em;
	font-size: 1.5em;
}

li {
	margin-bottom: -0.2em;
}

.bottom-logo {
	float: right;
}

.nav-stacked {
	float: left;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.navigation {
	display: table-footer-group;
}