body {
	background-color: #1d1d1d;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

header img {
	float: right;
	margin: 20px 16px 26px 0;
}

.shell {
	margin: 0 auto;
    /*position: relative;*/
    /*text-align: left;*/
    width: 963px; /*this fixed pic spacing*/
}

.wrapper {
	clear: both;
	width: 100%;
}

.slide {
	float: left;
    height: 335px;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
    width: 24.9%;
}

.slider4 {
	margin-right: 0;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

ul {
	list-style: none;
	font-size: 1.5em;
}

li {
	margin-bottom: -0.2em;
}

a img {
	float: right;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.navigation {
	clear: both;
}

footer {
	clear: both;
	margin-left: 3em;
}

p {
	font-size: 1.5em;
    line-height: 1.6em;
    color: #b5b5b5;
}

nav {
	float: left;
}

.row {
	margin: 0 auto;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.slide {
	    width: 24.9%;
	}

	.slide img {
	    /*max-width: 100%;*/
	}

	.shell {
		width: 77%;
	}
}

@media only screen and (max-width:767px) {
	header img {
	float: left;
	margin-left: 3em;
	}
}